@charset "utf-8";

/* css Reset */
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block
}

* {
    font: inherit;
    color: inherit
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    color: #222;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    letter-spacing: -0.5px;
    font-size: 14px;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
select,
button,
code,
label,
em,
span,
strong {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    word-break: keep-all;
}

form {
    display: inline;
    margin: none
}

img,
fieldset {
    border: 0
}

hr {
    display: none
}

li {
    list-style: none
}

em,
address {
    font-style: normal
}

label,
input,
select,
textarea {
    vertical-align: middle;
    -webkit-appearance: none
}

legend {
    position: absolute;
    left: -5000px;
    font-size: 0;
    overflow: hidden
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    position: relative;
    left: -5000px;
    height: 0;
    line-height: 0;
    text-indent: -5000px;
    overflow: hidden
}

a:link,
a:active,
a:visited,
a {
    text-decoration: none;
  
}

a:hover {
    text-decoration: none;
    color: inherit
}

label,
input,
button,
select,
img {
    vertical-align: middle
}

button {
    cursor: pointer;
    outline: none;
    background: none
}

input[type="button"],
input[type="text"],
input[type="image"],
input[type="submit"],
input[type="password"],
input[type="tel"],
input[type="number"],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    background: none;
}

textarea {
    resize: none;
    box-sizing: border-box;
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

